**/build/
/api/node_modules
/api/dbConfig.js
/api/*.log
/api/.env
/frontend/node_modules
/frontend/dist
/electron/build/
/electron/node_modules
/python-cli/todo-app.spec
/python-cli/todo-app-rebuilder.bat

# System
.DS_Store
.env